<div class="row pt-0 pt-sm-5 mb-sm-5">
    <div class="col-12 col-sm-8" style="margin-left: 100px;margin-right: 100px;">
        <div>
            <a href="#shipping-bikes" class="with-icon-expand collapsed collapse-heading d-sm-none">Ako expedujeme bicykle</a>      
            <div id="shipping-bikes" class="tab-pane fade wysiwyg-content active show" role="tabpanel" aria-labelledby="shipping-bikes-tab">

                <p>Všetky bicykle ponúkané na shope BIKESHOP sú nové, nejazdené, od oficiálneho distribútora a s plnou zárukou. Viaceré značky dokonca ponúkajú po registrácii doživotnú záruku na rám. Všetok záručný servis vykonávame v BIKESHOP predajniach po osobnom doručení alebo po zaslaní bicykla (alebo jeho časti) kuriérom.</p>
                <div class="h3 mt-5 mb-4">Náš postup expedície bicyklov je nasledovný:</div>
                <ol>
                <li>Bicykel je vybratý z krabice od výrobcu.</li>
                <li>Bicykel je poskladaný, skontrolovaný a nastavený (prehadzovač, prešmykač, tlmič, vidlica, kolesá...)</li>
                <li>Bicykel je opatrne zabalený naspäť do krabice a odoslaný</li>
                <li>Ak si bicykel objednáš na osobný odber alebo dovoz domov, bicykel Ťa bude čakať poskladaný a skontrolovaný</li>
                <li>Ak si bicykel objednáš kuriérom na svoju adresu, doma treba urobiť nasledovné:
                    <ol>
                    <li>Bicykel vybrať z krabice a opatrne odstrániť ochranné fólie a materiál</li>
                    <li>Namontovať riadítka do predstavca (<span class="text-secondary">1 minúta, potrebný je imbusový kľúč 4 alebo 5 mm</span>).</li>
                    <li>Namontovať predné koleso do vidlice (<span class="text-secondary">1 minúta, bez potreby náradia ak má bicykel rýchloupinák</span>).</li>
                    <li>Uvoľniť skrutky na hlavovom zložení, zarovnať predstavec s kolesom, dotiahnuť vrchnú skrutku na krku vidlice a následne dotiahnuť hlavové zloženie (<span class="text-secondary">2 minúty, potrebný je imbusový kľúč 4 alebo 5 mm</span>).</li>
                    <li>Namontovať pedále do kľúk, pričom treba namazať závit pedálu a opatrne namontovať správnou stranou (<span class="text-secondary">1 minúta, potrebný je imbusový kľúč 8 mm alebo 15 mm francúzsky kľúč</span>).</li>
                    <li>Namontovať sedlovku do rámu (<span class="text-secondary">10 sekúnd, bez potreby náradia ak má rám rýchloupinák</span>).</li>
                    <li>Dofúkať pneumatiky a prípadne vidlicu a tlmič na požadovaný tlak (<span class="text-secondary">2 minúty, potrebná je pumpa</span>).</li>
                    <li>Skontrolovať dotiahnutie imbusov a rýchloupinákov (<span class="text-secondary">2 minúty, potrebný je imbusový kľúč 4 a 5 mm</span>).</li>
                    <li>Vyraziť na testovaciu jazdu! S bicyklom zaobchádzaj opatrne, kým si na seba zvyknete. Ak má bicykel kotúčové brzdy, od novoty bude ich výkon obmedzený - svoj plný výkon nadobudnú po 4-5 silných brzdeniach z vyššej rýchlosti.</li>
                    </ol>
                </li>
                </ol>
                <div class="h3 mt-5 mb-4">Ilustračné video k nastaveniu bicykla:</div>
                <div class="video-container mb-0">
                    <iframe 
                      data-src="https://www.youtube.com/embed/sK1_9EYNfyI" 
                      frameborder="0" 
                      allowfullscreen="" 
                      loading="lazy" 
                      src="https://www.youtube.com/embed/sK1_9EYNfyI"
                      style="width: 100%; height: 60vh;">
                    </iframe>
                  </div>
            </div> 
    </div>
</div>
