.mainNavBarMarkUp
{
    padding-right: 6px;
}

a {
    font-weight:600
}
.superNav {
    font-size:13px;
}
.form-control {
    outline:none !important;
    box-shadow: none !important;
}
@media screen and (max-width:540px){
    .centerOnMobile {
        text-align:center
    }
}