<app-bazar></app-bazar>

<form *ngIf="product">
  <div class="modal modal-sheet show d-flex align-items-center justify-content-center" style="background: rgba(0, 0, 0, 0.5);" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content rounded-6 shadow">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title fs-5">Chcete vymazať produkt?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="redirectToAnotherPage()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer justify-content-between">
          <button mat-flat-button color="warn" type="button" class="" (click)="redirectToAnotherPage()" data-bs-dismiss="modal">Zruš vymazanie</button>
          <button mat-flat-button color="primary" type="submit" class="modifikuj produkt" (click)="deleteProduct(product.nameProduct)">Vymaž produkt</button>
        </div>
      </div>
    </div>
  </div>
</form>
        

        
      

