<div class="row pt-0 pt-sm-5 mb-sm-5">      
    <div class="col-12 col-sm-8" style="margin-left: 100px;margin-right: 100px;">
        <p><strong>Veľkostné tabuľky sú len orientačné.</strong> Každá kategória a <strong>každý model má svoju špecifickú geometriu</strong> a miery, ktoré nájdete aj s kalkulačkou pre výber správnej veľkosti na stránke výrobcu.</p>
        <p><br><strong>Cestné bicykle</strong></p>
        <div class="table-responsive mb-1">
            <table style="width:100%" class="table table-simple table-rounded table-all-borders text-small">
                <thead>
                    <tr>
                        <th scope="col">Veľkosť</th>
                        <th scope="col">47</th>
                        <th scope="col">51</th>
                        <th scope="col">54</th>
                        <th scope="col">56</th>
                        <th scope="col">68</th>
                        <th scope="col">61</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Výška (cm)</td>
                        <td>&lt;166</td>
                        <td>166-174</td>
                        <td>172-180</td>
                        <td>178-186</td>
                        <td>184-192</td>
                        <td>&gt;190</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <strong>Gravel bicykle</strong>
        <div class="table-responsive mb-1">
            <table style="width:100%" class="table table-simple table-rounded table-all-borders text-small">
                <thead>
                    <tr>
                        <th scope="col">Veľkosť</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Výška (cm)</td>
                        <td>&lt;170</td>
                        <td>172-180</td>
                        <td>178-188</td>
                        <td>186-196</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <strong>Horské bicykle</strong>
        <div class="table-responsive mb-1">
            <table style="width:100%" class="table table-simple table-rounded table-all-borders text-small">
                <thead>
                    <tr>
                        <th scope="col">Veľkosť</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                    </tr>
                    <tr>
                        <td>Výška (cm)</td>
                        <td>&lt;172</td>
                        <td>172-182</td>
                        <td>180-188</td>
                        <td>&gt;188</td>
                    </tr>
                </thead>
            </table>
        </div>

        <strong>Mestské/lifestyle bicykle</strong>
        <div class="table-responsive">
            <table style="width:100%" class="table table-simple table-rounded table-all-borders text-small">
                <thead>
                    <tr>
                        <th scope="col">Veľkosť</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                    </tr>
                    <tr>
                        <td>Výška (cm)</td>
                        <td>&lt;168</td>
                        <td>168-180</td>
                        <td>178-190</td>
                        <td>&gt;190</td>
                    </tr>
                </thead>
            </table>
        </div>   
    </div>
</div>
    