<app-navbarcomponent></app-navbarcomponent>

<ol class="breadcrumb breadcrumb-chevron p-3 breadcrumb_style justify-content-sm-center">
  <li class="breadcrumb-item">
    <a class="link-body-emphasis" routerLink="/homecomponent">
      <i class="bi bi-house-door-fill"></i>
      <span class="visually-hidden">Domov</span>
    </a>
  </li>
  <li class="breadcrumb-item">
    <a class="link-body-emphasis fw-semibold text-decoration-none" routerLink="/catalogcomponent">Obchod</a>
  </li>
  <li class="breadcrumb-item">
    <a class="link-body-emphasis fw-semibold text-decoration-none" routerLink="/bicykle">Bicykle</a>
  </li>
</ol>

<div class="container p-3 centerOnMobile">
  <div class="row align-items-right">
    <div class="col-sm-3 d-flex flex-column flex-shrink-0 p-3 bg-light">
      <app-side-barcomponent></app-side-barcomponent>
    </div>

    <div class="col-sm-9" style="padding-left: 40px;">

      <h2 class="pt-2">Kategórie produktov</h2>
      <div class="bordered-categories bordered-categories--shop row pb-4">
        <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 px-1 px-sm-2">
          <a href="../../../html/Catalog/Bicykle/indexHorskeBicykle.html">
            <span><img src="../../../../assets/img/catalog/UVOD/kategoria_produktov/bicykle/horsky.jpg" alt="" loading="lazy"></span>
            Horské bicykle    </a>

        </div>
        <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 px-1 px-sm-2">
          <a href="../../../html/Catalog/Bicykle/indexCestneBicykle.html">
            <span><img src="../../../../assets/img/catalog/UVOD/kategoria_produktov/bicykle/cestny.jpg" alt="" loading="lazy"></span>
            Cestné bicykle    </a>

        </div>
        <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 px-1 px-sm-2">
          <a href="../../../html/Catalog/Bicykle/indexKrosoveBicykle.html">
            <span><img src="../../../../assets/img/catalog/UVOD/kategoria_produktov/bicykle/krosovy.jpg" alt="" loading="lazy"></span>
            Krosové bicykle    </a>

        </div>
        <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 px-1 px-sm-2">
          <a href="../../../html/Catalog/Bicykle/indexMestkeBicykle.html">
            <span><img src="../../../../assets/img/catalog/UVOD/kategoria_produktov/bicykle/mestky.jpg" alt="" loading="lazy"></span>
            Mestké    </a>

        </div>
        <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 px-1 px-sm-2">
          <a href="../../../html/Catalog/Bicykle/indexTrekingBicykle.html">
            <span><img src="../../../../assets/img/catalog/UVOD/kategoria_produktov/bicykle/treking.jpg" alt="" loading="lazy"></span>
            Treking    </a>

        </div>
        <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 px-1 px-sm-2">
          <a href="../../../html/Catalog/Bicykle/indexGravelBicykle.html">
            <span><img src="../../../../assets/img/catalog/UVOD/kategoria_produktov/bicykle/gravel.jpg" alt="" loading="lazy"></span>
            Gravel a cyklotros    </a>

        </div>
        <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 px-1 px-sm-2">
          <a href="../../../html/Catalog/Bicykle/indexDetskeBicykle.html">
            <span><img src="../../../../assets/img/catalog/UVOD/kategoria_produktov/bicykle/detske.jpg" alt="" loading="lazy"></span>
            Destké bicykle    </a>

        </div>
        <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 px-1 px-sm-2">
          <a href="../../../html/Catalog/Bicykle/indexDirtBMX.html">
            <span><img src="../../../../assets/img/catalog/UVOD/kategoria_produktov/bicykle/dirt.jpg" alt="" loading="lazy"></span>
            Dirt a BMX bicykle    </a>

        </div>

      </div>

      <div class="shop-list-top d-flex justify-content-between align-items-center mb-2">

        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <h2 style="font-size: 30px;">Produkty<span class="text-muted num-products-total">({{products_To_See.length}})</span></h2>
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-4">
                  <div class="dropdown">
                    <a href="#" class="nav-link link-dark dropdown-toggle dropdown-toggle-no-arrow-mobile d-inline-block align-middle" data-bs-toggle="dropdown" aria-expanded="false">
                      <span>Zoradenie: {{this.popisVyberuZoradenia}}</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                      <li><a class="dropdown-item" (click)="sortProductsByPrice('Od najdrahších')">Od najdrahších</a></li>
                        <li><a class="dropdown-item" (click)="sortProductsByPrice('Od najlacnejších')">Od najlacnejších</a></li>
                        <li><a class="dropdown-item" (click)="sortProductsByName('Podľa názvu A-Z')">Podľa názvu A-Z</a></li>
                        <li><a class="dropdown-item" (click)="sortProductsByName('Podľa názvu Z-A')">Podľa názvu Z-A</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="wrapper-pink-light">
        <div class="container">
          <div class="row">
            <ng-container *ngFor="let product of products_To_See; let i = index">
              <div *ngIf="product.type == 'bicykel' || 'elektroBicykel' || 'horskyBicykel' || 'cestnyBicykel' || 
                       'krosovyBicykel' || 'mestkyBicykel' || 'trekingBicykel' || 'gravelCyklotrosBicykel' || 'detskyBicykel' || 'dirtBMXBicykel' "
                       class="col-lg-4 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
                <div class="product">
                  <img class="imgProduct" src={{product.img}} (click)="setProduct(product)" alt="">
                </div>
                <div *ngIf="product.discount > 0" class="tag bg-red">{{product.discount}}<i class="bi bi-percent payingBack"></i> Akcia</div>
                <div class="title pt-4 pb-1">{{product.nameProduct}}</div>                  
                  <div *ngIf="product.discount == 0"class="price ">{{product.price}}&euro;</div>
                  <div *ngIf="product.discount > 0" class="price-container d-flex justify-content-center">
                    <div class="old-price"><del>{{ product.price/(1-(product.discount/100)) }}&euro;</del></div>
                    <div class="discounted-price">{{ product.price}}&euro;</div>
                  </div>                 
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12 d-flex justify-content-center text-center">
                      <button routerLink="/" class="btn btn-primary styleButtonProduct buttColor" style="background-color: blue;"><i class="bi bi-bag-fill payingBack"></i> Kúpiť</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Uzatvorenie riadku a začiatok nového stĺpca po každých troch položkách -->
              <!-- <ng-container *ngIf="i % 3 === 2 && i !== products.length - 1" class="w-100"></ng-container> -->
            </ng-container>
          </div>
        </div>
      </div>
      

      
      <div class="d-flex justify-content-sm-between my-4 my-sm-5">
        <div>
          <a class="btn btn-primary btn-mobile-full-width mb-2 mb-sm-0 paginationButton" (click)="increaseItemsToSee()">
              Načítať ďalšie
            </a>
        </div>
        
        <div class="pagination">
          <a class="" href="">
            <i class="bi bi-arrow-left"></i>
          </a>
          <ng-container *ngFor="let page of pages; let i = index">
            <a *ngIf="page <= 5" class="pagination a" (click)="setProductsToSee_Page(page)">{{page}}</a>
            <span *ngIf="page > 5">…</span>
            <a *ngIf="page > 5" class="pagination a" (click)="setProductsToSee_Page(this.pages.length)">{{this.pages.length}}</a>
          </ng-container>
          <a class="">
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>


  <!-- <a href="#" class="btn btn-primary styleButtonProduct buttColor"><i class="bi bi-bag-fill payingBack"></i> Kúpiť</a> -->

<app-footercomponent></app-footercomponent>

